# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
.env
# ---- Virtual Environment ----
venv/
venv2/
env/

# ---- Streamlit ----
.streamlit/

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Firebase Secrets (DO NOT UPLOAD) ----
config/firebase_config.json
config/client_secret.json

# ---- IDE ----
.vscode/
.idea/

# ---- Logs ----
*.log
